/RuleExtraction_Complex/4DHumans
/RuleExtraction_Complex/mmcv
/RuleExtraction_Complex/FDHumans
/RuleExtraction_Complex/ViTPose
*.pt
/SimpleRuleExtraction/__pycache__
*.mp4
/SimpleRuleExtraction/yolov7
Xiang_scripts/src/__pycache__/
Xiang_scripts/yolov7